# Ignorar archivos de configuración con información sensible
application.properties
hibernate.cfg.xml


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
